.calendar-container {
	color: #696969;
}

.list-container {
	overflow: hidden;
	margin: 5px;
}

.list {
	min-width: 144000px;
	margin-left: -140px;
	/*float: left;*/
}

.temp {
	display: none;
}

.item {
	width: 140px;
	height: 75px;
	cursor: pointer;
	position: relative;
	/*display: inline-flex;*/
	/*direction: ltr;*/
	float: left;
	border-left: 2px solid #696969;
	/*border-right: 2px solid #696969;*/
	text-align: center;
}

.left {
	float: left;
	width: 20px;
	cursor: pointer;
}

.right {
	float: right;
	width: 20px;
	cursor: pointer;
}

.vertical-rule {
	border-left: 1px solid #000;
}
