.calendar-container {
	color: #696969;
}

.list-container {
	overflow: hidden;
	margin: 5px;
}

.list {
	min-width: 144000px;
	margin-left: -140px;
}

.temp {
	display: none;
}

.item {
	border-left: 2px solid #AAB3C2;
	color: #4C5769;
	cursor: pointer;
	float: left;
	height: 75px;
	padding-top: 15px;
	position: relative;
	text-align: center;
	width: 140px;
}

.fa-angle-double-left {
	margin-right: 10px;
	font-weight: bold;
	font-size: 20px;
}

.fa-angle-double-right {
	margin-left: 10px;
	font-weight: bold;
	font-size: 20px;
	/*margin-top: 10px;*/
}

.left {
	float: left;
	height: 75px;
	padding-top: 30px;
	width: 20px;
	cursor: pointer;
}

.glyphicon-menu-left {
	-webkit-transition: 0.1s;
					transition: 0.1s;
}

.glyphicon-menu-left:hover {
	-webkit-transform: scale(2);
          transform: scale(2);
}
.glyphicon-menu-right {
	-webkit-transition: 0.1s;
					transition: 0.1s;
}

.glyphicon-menu-right:hover {
	-webkit-transform: scale(2);
          transform: scale(2);
}

a.goto-today {
	cursor: pointer;
	text-decoration: none !important;
}

.right {
	float: right;
	height: 75px;
	padding-top: 30px;
	width: 20px;
	cursor: pointer;
}

.today-button {
	background: transparent;
	border: 2px solid #4C5769;
	/*border: none;*/
	color: #4C5769;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
