.btn-facebook:hover {
	background: #4C5769 !important;
	color: #fff !important;
}

.btn-facebook {
	background: #fff !important;
	color: #4C5769 !important;
	margin-right: 10px !important;
	font-weight: bold !important;
	border: 2px solid #4C5769 !important;
}

.btn-google{
	background: #fff !important;
	color: #E57373 !important;
	margin-right: 10px !important;
	font-weight: bold !important;
	border: 2px solid #E57373 !important;
	margin-right: 10px !important;
}

.btn-google:hover  {
	background: #E57373 !important;
	color: #fff !important;
}

.btn-social {
	width: 40%;
}

.info {
	color: #90A4AE !important;
}

.login {
	color: #4C5769 !important;
}

.panel-info {
	/*background: #4C5769 !important;*/
	margin-top: 20px !important;
}

.social-buttons {

}
