.display-percentage {
	font-size: 20px;
	padding-top: 7px;
}

.progress {
	height: 40px !important;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: #4C5769;
		font-weight: bold;
		font-size: 24px;
		padding-top: 7px;
 }

.progress-bar {
	background: #83c6b0 !important;

}

.progress-bar-div {
	/*background: red;*/
}

.title {
	color: #4C5769;
	margin-left: 20px;
	margin-bottom: 10px;
}
