.add-to-do {
	padding-top: 20px;
}

#body {
	background: #F5F5F5;
	padding-top: 10px;
}

.glyphicon-star {
	font-size: 18px;
	cursor: pointer;
	color: #FFAB00;
}

.glyphicon-star-empty {
	font-size: 18px;
	cursor: pointer;
	color: #4C5769;
}
