.add-to-do {
	padding-top: 20px;
}

.add-to-do-input {
	height: 100px;
}

.blockquote {
	padding-left: 10px;
}

/*.display-todo {
	display: block;
	overflow: auto;
}*/

.not-menu {
	display: flex;
	/*position: absolute;*/
	/*width: 100px;*/
	/*justify-content: space-between;*/
}

.not-menu-div {
	width: 500px;
	word-wrap: break-word;
}

#body {
	background: #F5F5F5;
	padding-top: 10px;
}

.strike {
	color: #d3d3d3;
	text-decoration: line-through;
}

.checkbox {
	margin: 10px;
}

.glyphicon-check {
	color: #66BB6A;
	font-size: 32px;
	-webkit-transition: 0.5s;
          transition: 0.5s;
}

.glyphicon-check:hover {
	color: #E57373;
	-webkit-transform: scale(1.2);
					transform: scale(1.2);
}

.glyphicon-unchecked {
	font-size: 32px;
	-webkit-transition: 0.5s;
          transition: 0.5s;
}

.glyphicon-unchecked:hover {
	color: #66BB6A;
	-webkit-transform: scale(1.2);
					transform: scale(1.2);
}

.glyphicon-star {
	font-size: 18px;
	cursor: pointer;
	color: #FFAB00;
}

.glyphicon-star-empty {
	font-size: 18px;
	cursor: pointer;
	color: #4C5769;
}

.todo-group {
	padding: 10px;
	border: 2px solid #dddddd;
	border-radius: 1%;
	margin-top: 20px;
}

.todo-text {
	margin-top: 5px;
	margin-left: 10px;
	width: inherit;
	word-wrap: break-word;
	overflow: auto;
	/*z-index: -1;*/
	/*position: absolute;*/
}

.todo-item {
	margin: 10px;
	min-height: 75px;
	padding: 10px 20px 0 30px !important;
	cursor: pointer;
	color: #4C5769;
	-webkit-transition: 0.2s;
          transition: 0.2s;
}

.todo-item:hover{
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
